@import "./components/resets";
@import "./components/variables";
@import "./components/generals";

@import "./components/navbar";
@import "./components/productpage";
@import "./components/carousel";
@import "./components/filters";
@import "./components/stockdisplay";
