#contenedor__filtros {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;

  background-color: $secondary-background;
  box-shadow: rgba(0, 0, 0, 0.8) 1.95px 1.95px 8px;

  width: 98%;
  height: 60px;
  margin-top: 0px;
  border-radius: 30px;
  margin-left: 20px;

  color: white;

  #searchBar {
    width: 20%;
  }

  #filtros__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 70%;

    #tipos__filtros {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;

      width: 100%;
      font-size: 1em;
      color: whitesmoke;

      .boton__filtros {
        padding: 5px;
        transition: all 0.5s;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
