#product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;

  .product__box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 25%;

    margin: auto;
    padding: 20px;

    .product__img {
      height: 300px;
      margin: 10px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

      transform: scale(1);
      transition: 0.4s;

      &:hover {
        transform: scale(1.05);
        opacity: 0.9;
        transition: 0.4s;
      }
    }

    .product__title {
      font-size: 1.5em;
      margin-bottom: 8px;
    }

    .product__price {
      font-size: 1.4em;
      margin-bottom: 8px;
    }

    .product__button {
      padding: 5px 10px;
      border-radius: 7px;
      border-color: whitesmoke;
      width: 60%;
      height: 3em;

      font-size: 1em;
      font-weight: 600;

      color: whitesmoke;
      background-image: linear-gradient(315deg, #2c7cb9 0%, #20a4f3 74%);

      &:hover {
        filter: brightness(90%);
      }
    }
  }
}
